apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: nodejs-tcnskbdn
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/tsscui/nodejs-tcnskbdn:95b9c5818e09ca73a4768ebcfec85b697f8e268b@sha256:cd9f439a4baaf5e3cba466c8d7a72ae4b917ab62acb7c2271c8cc75622cff299
          name: container-image
